/**
 * SAMPLE STYLE
 */

* {
    font-family: $font-fira-mono;
    color: $color-midnight;
}

main {
    background-color: $color-midnight;
    height: 100vh;
    display: grid;
    > h1 {
        place-self: center;
        color: $color-mint;
    }
}